/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  margin: 0;
  color: #5F5F5F;
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.button {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  color: #F3C653;
  width: 236px;
  padding: 14px 0;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.button--dark {
  background-color: #000000;
  border: 2px solid #FFFDEE;
}

.button-arrow {
  display: flex;
  background-color: transparent;
  border: none;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.section {
  padding-bottom: 32px;
  padding-top: 32px;
}
@media screen and (min-width: 1024px) {
  .section {
    padding-top: 62px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding-top: 72px;
  }
}

.rooms {
  background-color: #FFFDEE;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .rooms {
    position: relative;
    overflow: visible;
    background-image: repeating-linear-gradient(to right, #FFFDEE, #FFFDEE 25%, rgba(186, 186, 186, 0.4) 0.1%, rgba(186, 186, 186, 0.4) 25.1%);
  }
}

.rooms__title {
  margin-bottom: 12px;
  color: #000000;
  font-family: "Times New Roman", serif;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .rooms__title {
    font-size: 30px;
    line-height: 1.133;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .rooms__title {
    font-size: 36px;
    line-height: 1.139;
    margin-bottom: 24px;
  }
}
.rooms__title--lowercase {
  text-transform: lowercase;
}

.rooms__text {
  margin-bottom: 32px;
  max-width: 258px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #5F5F5F;
}
@media screen and (min-width: 1024px) {
  .rooms__text {
    font-size: 16px;
    margin-bottom: 176px;
    max-width: 439px;
  }
}
@media screen and (min-width: 1280px) {
  .rooms__text {
    margin-bottom: 188px;
    max-width: 400px;
  }
}

.rooms__logo {
  display: block;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: #494848;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .rooms__logo {
    font-size: 64px;
    line-height: 1.078;
    margin-bottom: 62px;
  }
}
@media screen and (min-width: 1280px) {
  .rooms__logo {
    margin-bottom: 72px;
  }
}

.rooms__slogan {
  margin-bottom: 8px;
  font-family: "Times New Roman", serif;
  font-size: 20px;
  line-height: 1.15;
  color: #B4B4B4;
}
@media screen and (min-width: 1024px) {
  .rooms__slogan {
    margin-bottom: 4px;
    font-size: 32px;
    line-height: 1.156;
  }
}

.slider {
  display: flex;
  gap: 32px;
  margin-bottom: 20px;
}

.rooms__picture {
  display: block;
  width: 244px;
  margin-left: auto;
  margin-bottom: 32px;
  background: #DADADA;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .rooms__picture {
    position: absolute;
    top: -32px;
    right: 112px;
    width: 400px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .rooms__picture {
    width: 460px;
    right: 180px;
  }
}

.gallery {
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .gallery {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    margin-bottom: 40px;
  }
}

.gallery__list {
  position: relative;
  width: auto;
  right: 115px;
  display: flex;
  gap: 16px;
}
@media screen and (min-width: 1024px) {
  .gallery__list {
    position: static;
    right: 0;
    gap: 40px;
  }
}

.gallery__img {
  width: 194px;
  background: #DADADA;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
@media screen and (min-width: 1280px) {
  .gallery__img {
    width: 254px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery__box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media screen and (max-width: 1023px) {
  .rooms__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

.rooms__list {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .rooms__list {
    margin-bottom: 105px;
  }
}

@media screen and (min-width: 1024px) {
  .rooms__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.rooms-family {
  background-color: #F0ECD6;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .rooms-family {
    position: relative;
    overflow: visible;
    background-image: linear-gradient(to right, #F0ECD6 27%, rgba(186, 186, 186, 0.4) 27%, rgba(186, 186, 186, 0.4) 27.1%, #F0ECD6 27.1%, #F0ECD6 50%, rgba(186, 186, 186, 0.4) 50%, rgba(186, 186, 186, 0.4) 50.1%, #F0ECD6 50.1%, #F0ECD6 73%, rgba(186, 186, 186, 0.4) 73%, rgba(186, 186, 186, 0.4) 73.1%, #F0ECD6 73.1%);
  }
}

.rooms-family__title {
  margin-bottom: 12px;
  color: #000000;
  font-family: "Times New Roman", serif;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .rooms-family__title {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 1.133;
  }
}
@media screen and (min-width: 1280px) {
  .rooms-family__title {
    font-size: 36px;
    line-height: 1.139;
    margin-bottom: 24px;
  }
}

.rooms-family__text {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #5F5F5F;
}
@media screen and (min-width: 1024px) {
  .rooms-family__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .rooms-family__text {
    max-width: 400px;
  }
}

.rooms-family__box-text {
  display: block;
  max-width: 303px;
  margin-left: auto;
  text-align: start;
}
@media screen and (min-width: 1024px) {
  .rooms-family__box-text {
    margin-bottom: 176px;
    max-width: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .rooms-family__box-text {
    margin-bottom: 188px;
    max-width: 454px;
    margin-right: 57px;
  }
}

.rooms-family__logo {
  display: block;
  text-align: right;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: #494848;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .rooms-family__logo {
    font-size: 64px;
    line-height: 1.078;
    margin-bottom: 62px;
  }
}
@media screen and (min-width: 1280px) {
  .rooms-family__logo {
    margin-bottom: 72px;
    margin-right: 57px;
  }
}

.rooms-family__slogan {
  margin-bottom: 8px;
  font-family: "Times New Roman", serif;
  font-size: 20px;
  line-height: 1.15;
  color: #B4B4B4;
  text-align: right;
}
@media screen and (min-width: 1024px) {
  .rooms-family__slogan {
    margin-bottom: 4px;
    font-size: 32px;
    line-height: 1.156;
  }
}
@media screen and (min-width: 1280px) {
  .rooms-family__slogan {
    margin-right: 57px;
  }
}

.slider-family {
  display: flex;
  gap: 32px;
  margin-bottom: 20px;
  justify-content: right;
}

.rooms-family__picture {
  display: block;
  width: 244px;
  margin-bottom: 32px;
  background: #DADADA;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .rooms-family__picture {
    position: absolute;
    top: -32px;
    left: 112px;
    width: 400px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .rooms-family__picture {
    left: 180px;
    width: 460px;
  }
}

.gallery {
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .gallery {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    margin-bottom: 40px;
  }
}

.gallery__list {
  position: relative;
  width: auto;
  right: 115px;
  display: flex;
  gap: 16px;
}
@media screen and (min-width: 1024px) {
  .gallery__list {
    position: static;
    right: 0;
    gap: 40px;
  }
}

.gallery__img {
  width: 194px;
  background: #DADADA;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
@media screen and (min-width: 1280px) {
  .gallery__img {
    width: 254px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery-family__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 1023px) {
  .rooms__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

.rooms__list {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .rooms__list {
    margin-bottom: 105px;
  }
}

@media screen and (min-width: 1024px) {
  .rooms-family__box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */