body {
   margin: 0;
   background-color: #FFFDEE;
   color:#5F5F5F;
   font-family: 'Montserrat', sans-serif;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-top: 0;
   margin-bottom: 0;
}
.list {
   padding: 0;
   margin: 0;
   list-style: none;
}

.container {
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;

   @include mobile {
      width: 414px;
   }
   @include tablet {
         width: 1024px;
   }
   @include desktop {
               width: 1280px;
   }
}

.button {
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
   color: #F3C653;
   width: 236px;
   padding: 14px 0;
   border: 2px solid #FFFFFF;
   border-radius: 25px;
   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.25;
   letter-spacing: 0.02em;
   cursor: pointer;
}
.button--dark {
   background-color: #000000;
   border: 2px solid #FFFDEE;
}

.button-arrow {
   display: flex;
   background-color: transparent;
   border: none;
   align-items: center;
   padding: 0;
   cursor: pointer;
}

.visually-hidden {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}
.picture {
   display: block;
   width: 244px;
   margin-left: auto;
}