body {
   margin: 0;
   color: $text-rest-homepage-color;
   font-family: 'Montserrat', sans-serif;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-top: 0;
   margin-bottom: 0;
}
.list {
   padding: 0;
   margin: 0;
   list-style: none;
}

.container {
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;

   @include mobile {
      width: 414px;
   }
   @include tablet {
         width: 1024px;
         padding-left: 47px;
         padding-right: 47px;
   }
   @include desktop {
         width: 1280px;
         padding-left: 85px;
         padding-right: 85px;

   }
}
