.rooms {
   background-color: #FFFDEE;
   overflow: hidden;
   

   &--background {
      background-color: #F0ECD6;
   }
      @include tablet {
      position: relative;
      overflow: visible;
      }
}

.rooms__title {
   margin-bottom: 12px;
   margin-top: 32px;
   color: #000000;
   font-family: 'Times New Roman', serif;
   font-size: 24px;
   line-height: 1.167;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   @include tablet {
      font-size: 30px;
      line-height: 1.133;
   }

   &--lowercase {
      text-transform: lowercase;
   }
   &--right {
      text-align: right;
   }


   // @include desktop {
   //    font-size: 36px;
   //    line-height: 1.167;
   // }
}
.rooms__logo {
   font-weight: 700;
   font-size: 40px;
   line-height: 1.075;
   letter-spacing: 0.3em;
   color: #494848;
}

.rooms__text {
   margin-bottom: 32px;
   max-width: 258px;
   font-weight: 600;
   font-size: 12px;
   line-height: 1.25;
   letter-spacing: 0.02em;
   color: #5F5F5F;
   @include tablet {
         font-size: 16px;
         margin-bottom: 176px;
      }
   &--right {
      margin-left: auto;
   }
}

.rooms__slogan {
   margin-bottom: 8px;
   font-family: 'Times New Roman', serif;
   font-size: 20px;
   line-height: 1.15;
   color: #B4B4B4;
   @include tablet {
      margin-bottom: 4px;
      font-size: 32px;
      line-height: 1.156;
   }
   &--right {
      text-align: right;
   }
}

.slider {
   display: flex;
   gap: 32px;
   margin-bottom: 20px;
   &--right {
      justify-content: right;
   }
   @include tablet {
      margin-right: 502px;
   }
}
.rooms__picture {
   display: block;
   width: 244px;
   margin-bottom: 32px;
   background: #DADADA;
   box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
   border-radius: 2px;
   &--right {
      margin-left: auto;
   }
      @include tablet {
         position: absolute;
         top: -32px;
         right: 112px;
         width: 400px;
         margin-bottom: 0;
    
      }
}
.gallery {
  margin-bottom: 20px;
}
.gallery__list {
   position: relative;
   width: auto;
   right: 115px;
   display: flex;
   gap: 16px;
   @include tablet {
      position: static;
      right: 0;
      gap: 40px;
   }
 
   &--right {
      left: 115px;
   }
}

.gallery__img {
   width: 194px;
   background: #DADADA;
   box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
   border-radius: 2px;
   
}


.rooms__item:not(:last-child) {
   margin-bottom: 16px;
}
.rooms__list {
   text-align: center;
}
.rooms__logo--right {
   display: block;
   text-align: right;
}

.rooms__box {
   @include tablet {
   display: flex;
   justify-content: space-between;
   align-items: center;
   }


}
