.rooms-family {
   background-color: $background-dark-color;
   overflow: hidden;

   @include tablet {
      position: relative;
      overflow: visible;
     background-image: linear-gradient(
      to right,
      $background-dark-color 27%,
      $background-gradient 27%,
      $background-gradient 27.1%,
      $background-dark-color 27.1%,
      $background-dark-color 50%,
      $background-gradient 50%,
      $background-gradient 50.1%,
      $background-dark-color 50.1%,
      $background-dark-color 73%,
      $background-gradient 73%,
      $background-gradient 73.1%,
      $background-dark-color 73.1%
     );
}
}

.rooms-family__title {
   margin-bottom: 12px;
   color: $main-dark-color;
   font-family: 'Times New Roman', serif;
   font-size: 24px;
   line-height: 1.167;
   letter-spacing: 0.05em;
   text-transform: uppercase;

   @include tablet {
      margin-bottom: 16px;
      font-size: 30px;
      line-height: 1.133;
   }
   @include desktop {
      font-size: 36px;
      line-height: 1.139;
      margin-bottom: 24px;
}
}
.rooms-family__text {
   margin-bottom: 32px;
   font-weight: 600;
   font-size: 12px;
   line-height: 1.25;
   letter-spacing: 0.02em;
   color: $text-rest-homepage-color;

   @include tablet {
      font-size: 16px;
   }
    @include desktop {
      max-width: 400px;
   }
}

.rooms-family__box-text {
   display: block;
   max-width: 303px;
   margin-left: auto;
   text-align: start;
   @include tablet {
         margin-bottom: 176px;
         max-width: 400px;
      }
   @include desktop {
      margin-bottom: 188px;
      max-width: 454px;
      margin-right: 57px;
   }
}

.rooms-family__logo {
   display: block;
   text-align: right;
   margin-bottom: 32px;
   font-weight: 700;
   font-size: 40px;
   line-height: 1.075;
   letter-spacing: 0.3em;
   color: $logo-rest-hotel-color;
   text-decoration: none;
   @include tablet {
      font-size: 64px;
      line-height: 1.078;
      margin-bottom: 62px;
   }
      @include desktop {
         margin-bottom: 72px;
         margin-right: 57px;
      }
}



.rooms-family__slogan {
   margin-bottom: 8px;
   font-family: 'Times New Roman', serif;
   font-size: 20px;
   line-height: 1.15;
   color: $subtitles-color;
   text-align: right;

   @include tablet {
      margin-bottom: 4px;
      font-size: 32px;
      line-height: 1.156;
   }
   @include desktop {
      margin-right: 57px;
   }
}

.slider-family {
   display: flex;
   gap: 32px;
   margin-bottom: 20px;
      justify-content: right;

}

.rooms-family__picture {
   display: block;
   width: 244px;
   margin-bottom: 32px;
   background: $background-img-color;
   box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
   border-radius: 2px;

   @include tablet {
      position: absolute;
      top: -32px;
      left: 112px;
      width: 400px;
      margin-bottom: 0;
   }
   @include desktop {
      left: 180px;
      width: 460px;
   }
}

.gallery {
   margin-bottom: 20px;
   @include desktop {
         margin-bottom: 32px;
      }
   
      @include desktop {
         margin-bottom: 40px;
      }
}

.gallery__list {
   position: relative;
   width: auto;
   right: 115px;
   display: flex;
   gap: 16px;

   @include tablet {
      position: static;
      right: 0;
      gap: 40px;
   }
}

.gallery__img {
   width: 194px;
   background: $background-img-color;
   box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
   border-radius: 2px;
   @include desktop {
         width: 254px;
      }

}

.gallery-family__box {
   @include tablet {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }
}


.rooms__item:not(:last-child) {
   margin-bottom: 16px;
}

.rooms__list {
   text-align: center;

   @include tablet {
      margin-bottom: 105px;
   }
}

.rooms-family__box {
   @include tablet {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
   }
}

